* {
  margin: 0%;
  padding: 0%;
  font-family: Arial;
}
.logo {
  height: 10vh;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, black, #141414);
}
.logo div img {
  height: 25px;
}
.Profiles--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  width: 100%;
  height: calc(100vh - 20vh);
}
.Profiles--wrapper .header {
  color: white;
  font-size: 25px;
  margin: 10px;
}
.Profiles--wrapper .profiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 400px;
  margin: 15px;
  cursor: pointer;
}
.Profiles--wrapper .profile {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 15px 0px;
}
.Profiles--wrapper .profiles .profiles--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 55%;
  height: 100%;
}
.Profiles--wrapper .img-wrapper {
  text-align: center;
  margin: 5px;
  min-width: 150px;
  width: 150px;
  max-width: 150px;
  min-height: 150px;
  height: 150px;
  max-height: 150px;
}
.Profiles--wrapper figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.Profiles--wrapper .img-wrapper figure img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid transparent;
}
.Profiles--wrapper .img-wrapper:hover img {
  border: 2px solid rgb(202, 202, 202);
}
.Profiles--wrapper .profile .img-wrapper:hover img {
  border: none;
}
.Profiles--wrapper .img-wrapper .user {
  color: grey;
  filter: brightness(60%);
}
.Profiles--wrapper .img-wrapper:hover .user {
  filter: brightness(100%);
}
.Profiles--wrapper .manage,
button.cancel,
button.delete {
  filter: brightness(60%);
  cursor: pointer;
  background-color: transparent;
  color: gray;
  padding: 10px;
  font-size: 20px;
  border: 2px solid gray;
}
.Profiles--wrapper .manage:hover,
button.cancel:hover,
button.delete:hover {
  filter: brightness(100%);
}
.Profiles--wrapper .new-profile--wrapper .new-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid gray;
  height: 100%;
}
.Profiles--wrapper .new-profile--wrapper:hover {
  filter: brightness(100%);
}
.Profiles--wrapper .new-profile--wrapper .new-profile p {
  font-size: 100px;
  color: gray;
}
.Profiles--wrapper .profiles .profiles--wrapper .img-wrapper .edit-icon {
  background-color: rgba(0, 0, 0, 0.394);
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}
.Profiles--wrapper .done,
button.save {
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 5px 20px;
}
.Profiles--wrapper .done:hover,
button.save:hover {
  background-color: red;
  color: white;
}
.language-options span {
  display: none;
}
.language-options.active span {
  display: block;
}
.profile .img-wrapper {
  position: relative;
  margin: 0px;
}
.create-profile-wrapper {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.profile-image--wrapper {
  position: relative;
  width: 200px;
  border: none;
  height: 260px;
}
.profile-image--wrapper figure {
  position: relative;
  width: 200px;
  height: 220px;
  box-shadow: 1px 5px 15px black;
  background-color: #141414;
  cursor: pointer;
}
.profile-image--wrapper figure:hover::after {
  content: "Select";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  font-size: xx-large;
  background-color: rgba(0, 0, 0, 0.397);
}
.profile-image--wrapper figure img {
  width: 100%;
  height: 100%;
}
.profile-image--wrapper figure img.on {
  animation: image-vis 200ms ease;
}
.profile-image--wrapper figure img.off {
  opacity: 0;
  box-shadow: none !important;
  animation: image-unvis 200ms ease;
}
.profile-image--wrapper .all-images {
  position: absolute;
  top: 0%;
  left: 110%;
  width: 220px;
  z-index: 1;
  margin: 0%;
  overflow: hidden;
  animation-delay: 10s;
  animation: all-image 200ms ease;
  background-color: black;
  border: 1px solid grey;
  border-radius: 2px;
}
.profile-image--wrapper .all-images .all-images--wrapper {
  display: flex;
  flex-wrap: wrap;
  min-width: 260px;
  animation-delay: 1000s;
  animation: image-vis 2s ease;
}
.profile-image--wrapper .all-images .all-images--wrapper div {
  width: 60px;
  position: relative;
  margin: 5px 5px;
}
.profile-image--wrapper .all-images .all-images--wrapper div img {
  width: 100%;
}
.profile-image--wrapper .all-images .all-images--wrapper div:hover::after {
  content: "Select";
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  background-color: rgba(0, 0, 0, 0.397);
}
@keyframes all-image {
  0% {
    width: 0px;
    height: fit-content;
  }
  100% {
    width: 220px;
    height: fit-content;
  }
}
@keyframes image-vis {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes image-unvis {
  0% {
    opacity: 1;
  }
  100% {
    box-shadow: none !important;
    opacity: 0;
  }
}
.create-profile-wrapper .input-fields--wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}
.create-profile-wrapper .input-fields--wrapper label {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid grey;
  height: 50px;
  width: 220px;
  padding: 5px 20px;
  border-radius: 3px;
}
.create-profile-wrapper .input-fields--wrapper label p {
  position: absolute;
  font-size: 15px;
  width: 70%;
  top: 0%;
  left: 0%;
  transform: translateX(13%) translateY(15px);
  color: grey;
  background-color: transparent;
  transition: transform 300ms ease, font 300ms ease;
}
.create-profile-wrapper .input-fields--wrapper label.active p {
  font-size: 12px;
  transform: translateX(13%) translateY(0px);
}
.create-profile-wrapper .input-fields--wrapper input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}
.create-profile-wrapper .input-fields--wrapper .btn-wrapper button {
  padding: 10px 20px;
  margin: 0px 10px;
  color: white;
  width: 100px;
  height: 50px;
  font-size: 15px;
  cursor: pointer;
  margin: 5px;
}
.create-profile-wrapper .input-fields--wrapper .btn-wrapper .cancel {
  background-color: transparent;
  border: 3px solid grey;
  border-radius: 2px;
  margin: 5px;
}
.create-profile-wrapper .input-fields--wrapper .btn-wrapper .save {
  background-color: red;
  border: none;
  border-radius: 2px;
  margin: 5px;
}
.create-profile-wrapper .input-fields--wrapper .btn-wrapper button:active {
  filter: brightness(50%);
}

@media only screen and (max-width: 900px) {
  .Profiles--wrapper .profiles .profiles--wrapper {
    width: 90%;
  }
  .Profiles--wrapper .img-wrapper {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    min-height: 100px;
    height: 100px;
    max-height: 100px;
  }
  .create-profile-wrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .create-profile-wrapper .profile-image--wrapper .all-images {
    left: 0%;
    top: 50%;
    transform: translateX(-10px);
  }
  @keyframes all-image {
    0% {
      width: 220px;
      height: 0px;
    }
    100% {
      width: 220px;
      height: 200px;
    }
  }
  .Profiles--wrapper .profile {
    flex-direction: column;
  }
}
