.my-list--wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  overflow: visible;
}
.my-list--wrapper .moviesCategories {
  display: flex;
  flex-wrap: wrap;
  width: 99%;
}
.my-list--wrapper .card {
  width: 15%;
  margin: 10px;
}
.my-list--wrapper .card img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 900px) {
  .my-list--wrapper .card {
    width: 40%;
  }
}
